In [1]:
import pandas as pd

In [23]:
titanic_train=pd.read_csv('train.csv')

In [24]:
desc=titanic_train.describe()#only shows numeric columns
print desc
#print desc.columns.values
#print titanic_train.columns.values
incomplete_columns=[col for col in desc.columns.values if desc[col]['count']!=len(titanic_train)]
print incomplete_columns

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
['Age']

In [25]:
for col in incomplete_columns:
    titanic_train[col]=titanic_train[col].fillna(titanic_train[col].median())
print(titanic_train.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [37]:
cols_desc=set(desc.columns.values)
cols_train=set(titanic_train.columns.values)
cols_train.difference_update(cols_desc)
non_numeric_cols=list(cols_train)
print non_numeric_cols

['Name', 'Embarked', 'Sex', 'Ticket', 'Cabin']

In [39]:
titanic_train['Sex_num']=titanic_train['Sex'].apply(lambda sex:0 if sex=='male' else 1)

In [40]:
titanic_train.drop(['Sex'],inplace=True,axis=1)

In [47]:
print(titanic_train['Embarked'].unique())
most_freq_embark=titanic_train['Embarked'].value_counts().idxmax()
titanic_train['Embarked']=titanic_train['Embarked'].fillna('S')

['S' 'C' 'Q' nan]

In [49]:
titanic_train['Embarked_num']=titanic_train['Embarked'].apply(lambda sex:0 if sex=='S' else (1 if sex=='C' else 2))

In [51]:
titanic_train.drop(['Embarked'],inplace=True,axis=1)

In [58]:
print titanic_train.describe()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare     Sex_num  Embarked_num
count  891.000000  891.000000  891.000000    891.000000
mean     0.381594   32.204208    0.352413      0.361392
std      0.806057   49.693429    0.477990      0.635673
min      0.000000    0.000000    0.000000      0.000000
25%      0.000000    7.910400    0.000000      0.000000
50%      0.000000   14.454200    0.000000      0.000000
75%      0.000000   31.000000    1.000000      1.000000
max      6.000000  512.329200    1.000000      2.000000

In [59]:
features=['Pclass','Age','SibSp','Parch','Fare','Sex_num','Embarked_num']

In [60]:
from sklearn.linear_model import LogisticRegression

In [61]:
model=LogisticRegression()
model.fit(titanic_train[features],titanic_train['Survived'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [64]:
titanic_test=pd.read_csv('test.csv')
titanic_test['Sex_num']=titanic_test['Sex'].apply(lambda sex:0 if sex=='male' else 1)
titanic_test['Embarked_num']=titanic_test['Embarked'].apply(lambda sex:0 if sex=='S' else (1 if sex=='C' else 2))
titanic_test.drop(['Sex','Embarked'],inplace=True,axis=1)

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [63]:
predictions=model.predict(titanic_test[features])

KeyError: "['Sex_num' 'Embarked_num'] not in index"